body {
    background-image: url('../images/email-pattern.png');
}

.header{
    margin-top:5em;
}

.navbar{ 
    background:#2d65ff;
    padding:0px;
}

.row{
    margin: auto;
}

.navbar-nav{
    line-height:40px;
}

.nav-link{
    margin-right: 1em !important;
    padding:0f;
    color: #f4f4f4; 
    cursor: pointer;
}

.nav-link:hover{ 
    background: #ffffff; 
    color: #2d65ff; 
}

.navbar-brand{
    color:white;
    margin-left: 1em !important;
}

.navbar-brand:hover{
    color:white;
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#2d65ff;
    padding:0px;
    margin-right:5px;
}

.navbar-toggler:hover{
    background:white;
}

.navbar-toggler-icon{
    padding:4px;
    color:white;
}

.navbar-toggler-icon:hover{
    color:#2d65ff;
}

.codehilite{
    background-color: rgb(241, 241, 241);
    border-radius:2.5px;
    padding:20px;
}
