h1{
    margin-bottom:0.3em;
    font-weight:bolder;
    
}

.header-title h1{
    background-color:rgb(240, 240, 240);
}

.post{
    border:1px solid rgb(128, 128, 128);
    border-radius:5px;
    padding: 2em;
    margin-bottom:2em;
    background-color: white;
    box-shadow: 5px 5px #888888;
}

/*archive year*/
h4{
    padding:0px;
    margin:0px;
}

h2{
    border-bottom:1px solid black;
    padding-bottom:5px;
    margin-bottom:5px;
    color:rgb(66, 66, 66);
}

#archive-button-element{
    padding:10px;
    background-color:white;
    border-radius:5px 5px 0px 0px;
    border-top:1px solid rgb(128, 128, 128);
    border-left:1px solid rgb(128, 128, 128);
    border-right:1px solid rgb(128, 128, 128);
    color:rgb(68, 68, 68);
    margin-bottom:-1px;
}

#archive-button-element span{
    font-family: Segoe UI;
    font-weight:normal;
    color:black;
}

#archive-button-element:hover{
    cursor: pointer;
    color:#2d65ff;
}

.archive{
    border:1px solid rgb(128, 128, 128);
    border-radius:0px 5px 5px 5px;
    padding: 1em;
    margin-bottom:2em;
    background-color: white;
    box-shadow: 5px 5px #888888;
}

.archive-year{
    background-color:rgb(240, 240, 240);
    margin-top:10px;
    padding:5px;
    border-radius:5px;
}

/*posts by pages navigation*/
.pages{
    background-color:rgb(240, 240, 240);
    margin-top:10px;
    padding:5px;
    border-radius:5px;
    text-align:center;
}

.page-navigation{
    border:1px solid rgb(128, 128, 128);
    border-radius:5px;
    padding: 1em;
    margin-bottom:2em;
    margin-top:2em;
    background-color: white;
    box-shadow: 5px 5px #888888;
}

.pages a{
    padding:3px;
    border-radius:2px;
}

.header-title{
    border:1px solid rgb(128, 128, 128);
    border-radius:5px 5px 5px 5px;
    padding: 1em;
    margin-bottom:2em;
    background-color: white;
    box-shadow: 5px 5px #888888;
}

.header-title {
    text-align: center;
}