{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="posts">
        <!--<h1>Blog Posts</h1>-->
        <div class="row">
            <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 desc">
                {% for post in posts %}
                    <div id='{{ post }}' class="post">
                       <!-- <h2>{{ post }}</h2>-->
                    </div>
                {% endfor %}
            </div>
            <div id="archive-column" class="col-xl-3 col-lg-10 col-md-12 col-sm-12 desc">
                
                <div class="archive position-fixed">
                    <h1>Blog Archive</h2>
                    {% for year in year_list %}
                        <div class="archive-year">
                            <h4>{{ year }}</h4>
                        </div>
                        {% for post_object in post_objects %}
                            {% if post_object.year == year %}
                            <div class="archive-link">
                               <span>•</span>  <a href="#{{ post_object.name }}">{{ post_object.name }}</a><br>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}