{% extends "base.html" %}

{% block content %}
        <!--<h1>Blog Posts</h1>-->
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <div class="header-title">
                    <h1>Ilya S. Tech Blog</h1>
                    <h5>Personal blog about scripting, development, and all things technology.</h5>
                </div>
            </div>
            <div class="col-xl-3"></div>
        </div>
        <div class="row">
            <!--left column-->
            <div class="col-xl-3 col-lg-0 order-3 order-sm-3 order-md-3  order-xl-1">

            </div>
            <!--center column-->
                <div id="posts-column" class="col-xl-6 col-lg-12 order-2 order-sm-2 order-md-2  order-xl-2">
                    <!--post content-->
                    {% for post in posts[0:2] %}
                        <div id='{{ post }}' class="post"></div>
                    {% endfor %}
                    <!--post pages navigation bar-->
                    <div class="page-navigation">
                        <div class="pages">
                            {% for page in post_pages %}
                                <a class="page-num" id="page-num-{{ page }}" href="#">{{ page }}</a>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <!--right column-->
            <div class="col-xl-3 col-lg-12 order-1 order-sm-1 order-md-1  order-xl-3">
                <!--archive button-->
                <div id="archive-button">
                    <i id="archive-button-element" class="fas fa-archive"><span>Archive</span></i>
                </div>
                <!--archive wrapper-->
                <div class="archive">
                    {% for year in year_list %}
                        <div class="archive-year">
                            <h4>{{ year }}</h4>
                        </div>
                        {% for post_object in post_objects %}
                            {% if post_object.year == year %}
                            <div class="archive-link">
                               <span>•</span>  <a href="#{{ post_object.name }}">{{ post_object.name }}</a><br>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}